{% extends "base.html" %}
{% block content %}
    <button type="button">
        <a href="new.html">New session</a>
    </button>
    <br>
    {% for session in sessions %}
        {{ session.date }} {{ session.user_id }}
        <ul>
            {% for lift in session.lifts.all %}
                <li>{{ lift.type }} {{ lift.weight }}kg</li>
                {% if forloop.parentloop.first %}
                    <div>====SLIDER HERE====</div>
                {% endif %}
                {% for set in lift.sets.all %}
                    {% if forloop.parentloop.parentloop.first %}
                        {% if set.reps == 0 %}
                        {% elif set.reps < 5 %}
                            <div style="color: red">{{ set.reps }}/5</div>
                        {% else %}
                            <div style="color: green">{{ set.reps }}/5</div>
                        {% endif %}
                    {% else %}
                        {% if set.reps < 5 %}
                            <div style="color: red">{{ set.reps }}/5</div>
                        {% else %}
                            <div style="color: green">{{ set.reps }}/5</div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </ul>
    {% endfor %}
{% endblock %}
